*{
    margin: 0;
    padding: 0;
}

body{

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: beige;
}

.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links{
    margin-left: 20px;
}

.hero{
    background-image: url(https://media.admagazine.com/photos/618a635c5e45a526c6be8c7a/master/pass/76739.jpg)
}