*{
    margin: 0;
    padding: 0;
}

body{

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: beige;
}

.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links{
    margin-left: 20px;
}

.hero{
    background-image: url(https://media.admagazine.com/photos/618a635c5e45a526c6be8c7a/master/pass/76739.jpg);
    background-position-y: center;
    text-align: center;
    color: aqua;
    padding: 100px 0 ;

}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h2{
    font-size: 3rem;
    margin-bottom: 20px;
}

/*seccion de productos*/
.featured-productos{
    padding: 58px;
    text-align: center;
}

.product-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

.product{
    width: 300px;
    height: 30px;
}

.product img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

footer{
    background-color: chocolate;
    color: azure;
    text-align: center;
    padding: 10px 0;
}